html,
body {
    font-family: 'Roboto Slab', serif;
}

.navbar-brand {
    text-transform: uppercase;
}


nav {
    background-color: #F4D03F;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.calc-box {
    border: 1px solid #000;
    background-color: #F7F9F9;
    padding: 20px 0 30px 1rem;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: 1px solid #000 !important;
    font-weight: 600;
    border-bottom: none !important;
    background-color: #F7F9F9;
    color: #000;

}

.nav-tabs .nav-link {
    color: rgba(0, 0, 0, 0.6);
}

.nav-tabs .nav-link:hover {
    border: 1px solid transparent !important;
    color: #000;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active:hover {
    border: 1px solid #000 !important;
    color: #000;
}

.labels {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.intro {
    margin-top: 100px;
}

.calc-div {
    margin-top: 100px;
}

.calc-box label {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0em;
    margin-bottom: 20px;
}

.calc-box input {
    margin-bottom: 20px;
}

.result,
.result-2 {
    background-color: #34495E;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    width: 40%;
    border-radius: 4px;
    padding: 5px 0 5px 5px;
    display: none;
}