:root {
  --primary-color: #036af5;
}
body,
html {
  font-family: "Lato", sans-serif;
}
header {
  background: linear-gradient(45deg, #f0f0f0 0%, white 55%, white 100%);
  min-height: 100vh;
  padding-left: 90px;
}
nav {
  padding: 30px 90px 30px 0 !important;
  position: relative;
  z-index: 100;
}
nav li {
  padding-right: 30px !important;
}
nav li a {
  font-size: 18px;
  color: #000 !important;
}
.navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: #000 !important;
}
nav li a:hover {
  color: #1a91da !important;
}
header h1 {
  text-transform: uppercase;
  color: #1a91da;
  font-size: 40px;
  font-weight: 600;
}
header p {
  font-weight: 400;
  color: rgb(136, 130, 130);
  max-width: 400px;
  font-size: 17px;
  margin-bottom: 30px;
}
header button {
  border-radius: 32px;
  border: none;
  padding: 12px 22px;
  transition: all 0.3s ease-in-out;
}
.button-1 {
  background-color: #1a91da;
  color: #fff;
  border: 1px solid transparent;
  margin-right: 8px;
}
.button-1:hover {
  color: #1a91da;
  background-color: #fff;
  border: 1px solid #1a91da;
}
.button-2 {
  color: #1a91da;
  background-color: transparent;
  border: 1px solid #1a91da;
}
.button-2:hover {
  background-color: #1a91da;
  color: #fff;
}
.about-us {
  padding: 100px 0;
}
h2 {
  margin: 0 0 5px 0;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
}
.after-h2 {
  text-align: center;
  color: #7d7d7d;
  margin-bottom: 70px;
  font-size: 20px;
}
.box {
  text-align: center;
}
.box h3 {
  font-size: 25px;
  margin: 30px 0 10px 0;
}
.box p {
  font-weight: 300;
}
.icon-bg {
  background-color: #e8f5fd;
  max-width: 90px;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 15px;
}
.box i {
  color: #1da1f2;
  font-size: 32px;
}
.stats {
  background: linear-gradient(135deg, #1a91da 0%, #55fbc2 100%);
  height: 40vh;
  text-align: center;
  color: #fff;
}
.stats span {
  font-size: 30px;
}
.stats p {
  font-size: 20px;
  font-weight: 300;
}
.testimony {
  background-color: #fafafa;
  padding: 100px 0;
}

.testimony img {
  height: 120px;
  width: 120px !important;
  border-radius: 50%;
  object-fit: cover;
  margin: 60px auto 0 auto;
}
.comment {
  max-width: 600px;
  letter-spacing: 0;
  margin: 0 auto 60px auto;
  font-size: 23px;
  color: #5a5a5a;
  font-weight: 300;
}
.quotes-bg {
  text-align: center;
  margin: -20px auto 30px auto;
  background-color: #1da1f2;
  z-index: 1;
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimony i {
  color: #fff;
}
.testimony .item p {
  margin-bottom: 0;
  font-weight: 700;
}

.testimony span {
  color: #5a5a5a;
}
.owl-dots {
  margin-top: 60px !important;
}
.owl-theme .owl-dots .owl-dot span {
  height: 10.33px !important;
  width: 10.33px !important;
  background: transparent !important;
  transform: rotate(-45deg) !important;
  border-radius: 0 !important;
  border: 1px solid #1a91da;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #1a91da !important;
}

.owl-theme .owl-dots .owl-dot:focus {
  box-shadow: none !important;
  outline: none !important;
}
