body
,html{
 background-color: #F1F5F8;
}

h1{
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 20px;
}
h1::before{
  width: 100px;
  height: 3px;
  background-color: rgb(97, 28, 28);
  content: "";
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-left: 80px;

}